/* styles/Dashboard.css */

/* Ogólny styl kontenera dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f9;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Styl dla menu nawigacji */
.dashboard-menu {
  display: flex; /* Przyciski będą obok siebie */
  flex-direction: row;
  justify-content: center; /* Wyrównanie poziome */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.dashboard-menu button {
  background-color: #007bff; /* Niebieski dla wszystkich przycisków */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px; /* Odstęp między przyciskami */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dashboard-menu button:hover {
  background-color: #0056b3; /* Ciemniejszy niebieski przy hover */
  transform: scale(1.05); /* Efekt powiększenia */
}

.dashboard-menu button:focus {
  outline: none;
}

.dashboard-menu button.active {
  background-color: #0056b3; /* Zmieniony kolor aktywnej zakładki */
  font-weight: bold;
  transform: scale(1.05);
}

.dashboard-menu button:last-child {
  background-color: #dc3545; /* Czerwony dla przycisku wylogowania */
}

.dashboard-menu button:last-child:hover {
  background-color: #c82333;
}

/* Styl dla treści w dashboard */
.dashboard > div {
  flex: 1;
  padding: 20px;
  background-color: white;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
